#search-downtown-page {
  table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid #161616;

      td,
      th {
        padding: 7px;
        vertical-align: middle;
      }
    }

    th {
      text-align: center;
    }

    th span {
      font-size: 18px;
      color: green;
      margin-top: 3px;
      display: inline-block;
    }
  }

  table.result-details {
    margin: 0 auto;
    width: 350px!important;
    border: 1px solid black;

    tr:nth-of-type(even) {
      background-color: rgba(0,0,0,.1);
    }

    td {
      padding: 10px;
    }
  }
}