.gang-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7px;

  .gang-actions-item {
    background: rgba(0, 0, 0, .1);
    border-top: thin solid #000;
    border-right: thin solid #000;
    flex-basis: 20%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;

    &:nth-of-type(1) {
      border-top-left-radius: 5px;
    }

    &:nth-of-type(5n+1) {
      border-left: thin solid #000;
    }

    &:nth-of-type(5) {
      border-top-right-radius: 5px;
    }

    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      border-bottom: thin solid #000;
    }

    &:nth-last-child(1) {
      border-bottom: thin solid #000;
      border-bottom-right-radius: 5px;
    }

    &:nth-of-type(5n+1) {
      border-left: thin solid #000;
    }

    &:nth-last-child(5) {
      border-bottom: thin solid #000;
      border-bottom-left-radius: 5px;
    }
  }
}