#jobs-page {
  ul.info-list {
    padding: 5px;
    list-style: square;
    margin-left: 25px;
  }

  li {
    line-height: 1.5rem;
  }

  ul.recent {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      border-bottom: 1px solid black;

      &:last-of-type {
        border-bottom: none;
      }
    }

    span:first-of-type {
      width: 20%;
      display: inline-block;
    }

    span:last-of-type {
      width: 78%;
      display: inline-block;
    }
  }

  .jobs {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border-radius: 3px;

    tr {
      border-bottom: 1px solid #161616;

      &:last-of-type {
        border-bottom: none;
      }

      th,
      td {
        padding: 7px;
        vertical-align: middle;
      }
    }
  }
}
