.label-form {
	color: #a4a4a4;
	display: block;
	margin-bottom: 7px;
	text-indent: 0;
}

.input-form {
	padding: 4px;
	text-align: left;
	width: 100%;
	background: rgba(50, 50, 50, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.6);
	color: #fff;
	margin-bottom: 5px;
	box-sizing: border-box;
	border-radius: 3px;
}
