.select-group {
  &.inline-select-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    .label-form {
      min-width: 120px;
    }
  }

  .label-form {
    color: #a4a4a4;
    display: block;
    margin-bottom: 7px;
    text-indent: 0;
  }
}
