.menu-top-link {
	margin-left: 0.5rem;
	color: #888;
	height: 35px;
	padding: 0 5px;
	display: inline-block;
}
.menu-top-link:hover {
	background: rgba(0, 0, 0, 0.3);
}
.menu-top-link i {
	margin-right: 0.2rem;
	color: #991c1e;
}
