.menu-top {
	background: rgba(0, 0, 0, 0.22);
	height: 35px;
	line-height: 35px;
	width: 100%;
	border-bottom: 1px solid #161616;
	box-shadow: 0 0 3px rgb(0 0 0/10%);
	font-size: 12px;
	z-index: 1000;
}
.desktop-only {
	display: block;
}
