.mission-item-progress {
  width: 100%;
  box-sizing: border-box;

  header {
    text-align: center;
    text-indent: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(to right,#3e3d3d 0%, #383838 100%);
    line-height: 13px;
    font-weight: 700;
    height: 15px;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 3px;
    display: block;
    border: 1px solid #161616;
  }

  .mission-item-progress-body {
    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 7px;
        margin: 0;
        list-style-type: none;
        width: 100%;

        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
      }
    }
  }

  .start-mission-btn {
    font-size: 12px;
  }
}