html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.notification {
  color: green;
}

a {
  color: #c90;
  text-decoration: none;
}

a:hover {
  color: #888;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

body {
  line-height: 1;
  background: url(../assets/img/layout/bg.jpg) #161616 top center repeat-x;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
}

.p-15 {
  padding: 15px;
}

.green-text {
  color: #adff2f;
}

.red-text {
  color: red;
}

.w-25 {
  width: 25%;
}