#operations-page {
  #auto-starter {
    background-color: rgba(220, 0, 0, .1) !important;
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5px -3px;
  }

  .premium-operations-list,
  .operations-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

  }

  .operations-list {
    .operation-item {
      width: 49%;
      margin-bottom: 15px;

      table {
        border: 1px solid black;
        border-collapse: collapse;

        tr {
          border-bottom: 1px solid black;

          form {
            display: block;

            button {
              font-size: 12px;
              margin: 0 auto;
              display: block;
            }
          }
        }

        tbody tr &:last-child {
          padding: 7px;
          display: inline-block;
        }
      }
    }
  }

  .operations-info {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      border-bottom: 1px solid black;
      padding: 10px;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}